bin
obj
image/FullScreenLT.png
image/MainWindow/FullScreenLT.png
image/MainWindow/MoreLT.png
image/MainWindow/capture.png
image/MainWindow/docLigthThemes.png
image/MainWindow/logo.png
image/MoreLT.png
image/OkLT.png
image/PreviewCapture/.svn/dir-prop-base
image/PreviewCapture/.svn/entries
image/PreviewCapture/.svn/prop-base/cancelLT.png.svn-base
image/PreviewCapture/.svn/prop-base/copyLT.png.svn-base
image/PreviewCapture/.svn/prop-base/saveLT.png.svn-base
image/PreviewCapture/.svn/text-base/cancelLT.png.svn-base
image/PreviewCapture/.svn/text-base/copyLT.png.svn-base
image/PreviewCapture/.svn/text-base/saveLT.png.svn-base
image/PreviewCapture/cancelLT.png
image/PreviewCapture/copyLT.png
image/PreviewCapture/saveLT.png
image/SettingsLT.png
image/backArrow.png
image/cancel.png
image/capture.png
image/capyture.png
image/docLigthThemes.png
image/helpLT.png
image/logo.png
image/pauseLT.png
image/playLT.png
image/power2.jpg
image/quit.png
image/video.png
image/PreviewCapture/cancel.png
image/PreviewCapture/copy.png
image/PreviewCapture/save.png
